.catalog{
	@include display-flex;
	@include flex-wrap(wrap);
	@include flex-basis(760px);
	
	&-sort{
		@include flex-basis(100%);
	}
	
	&-list{
		@include display-flex;
		@include flex-wrap(wrap);
		margin: 0 0 25px 0;
		padding: 0;
		list-style:none;
	}
	
	&__item{
		position: relative;
		
		@include flex-basis(360px);
		@include border-radius(5px 5px 0 0);
		overflow: hidden;
		
		margin-bottom: 30px;
		
		&:nth-child(2n+1){
			margin-right: 40px;
		}
		
		&_border{
			width: 100%;
			height: 40px;
			background-color: $light-grey;
			
			&::before{
				content: "";
				position: absolute;
				
				left: 15px;
				top: 13px;
				
				width: 15px;
				height: 15px;
				
				background-color: #ffffff;
				@include border-radius(50%);
				box-shadow: 
					22px 0 0 0 #ffffff,
					44px 0 0 0 #ffffff,;
			}
		}
		
		&_card{
			position: absolute;
			bottom: 5px;
			left: 0;
			
			display: none;
			margin: 0;
			padding: 25px 60px 50px 60px;
			width: 100%;
			
			text-align: center;
			background-color: $light-grey;
		}
		
		&_title{
			margin: 0 0 15px 0;
			padding: 0;
			font-size: 18px;
			line-height: 30px;
			font-weight: 700;
			text-transform: uppercase;
		}
		
		&_description{
			margin: 0 0 30px 0;
			padding: 0;
			font-size: 16px;
			line-height: 18px;
			font-weight: 400;
			color: darken($light-grey, 60%);
		}
		
		
		&:hover,
		&:focus{
			.catalog__item_border{
				background-color: darken($light-grey, 63%);
			}
			
			.catalog__item_card{
				display: block;
			}
		}
		
	}
	
	
}


