.contacts-block{
	position: relative;
	
	margin-bottom: 70px;
	min-height: 415px;
	
}

.contacts{
	float: left;
	width: 320px;
	padding: 50px;
	margin: 55px 0;

	background: #ffffff;
	
	&__title{
		padding: 0;
		margin: 0 0 20px 0;
		
		font-size: 18px;
		line-height: 30px;
		font-weight: 700;
		text-transform: uppercase;
		
	}
	
	&__caption{
		padding: 0;
		margin: 0 0 20px 0;
		width: 210px;
		
		font-size: 16px;
		line-height: 18px;
		font-weight: 400;
		color: #666666;
		
		&:last-of-type{
			margin-bottom: 35px;
		}
	}
	
	&__link{
		color: inherit;
		text-decoration: none;
	}
}

.ya-map{
	position: absolute;
	width: 100%;
}