.filter{
	@include flex-basis(260px);
	@include flex-grow(0);
	margin-right: 140px;
	
	&-field{
		margin-bottom: 50px;
	
		border: none;
	}
	
	&__legend{
		margin: 0 0 20px 0;
		padding: 0;
		
		font-size: 18px; 
		line-height: 30px;
		text-transform: uppercase;
		font-weight: 700;
	}
	
	&__range{
		position: relative;
	}
}

.label{
	position: relative;
	
	display: block;
	margin: 0 0 20px 0;
	padding: 0 0 0 35px;
	
	font-size: 16px;
	line-height: 20px;
	color: darken($light-grey, 75%);
	
	&:hover,
	&:focus{
		color: darken($light-grey, 100%);
	}
	&:active{
		color: darken($light-grey, 10%);
	}
}


.range{
	&__controls{
		margin: 0 0 15px 0;
		padding: 0;
		width: 100%;
		height: 80px;
		
		background-color: $light-grey;
		@include border-radius(5px);
	}
	
	&__scale{
		position: absolute;
		top: 39px;
		left: 7.5%;
		width: 85%;
		height: 2px;
		
		background-color: darken($light-grey, 10%);
	}
	
	&__bar{
		position: absolute;
		top: 0;
		left: 5px;
		width: 145px;
		height: 2px;
		background-color: $green;
	}
	
	&__toggle{
		position: absolute;
		top: -10px;
		
		width: 20px;
		height: 20px;
		background-color: darken($light-grey, 20%);
		
		@include border-radius(50%);
		border: 8px solid #ffffff;
		box-shadow: 0 2px 2px 0 darken($light-grey, 20%);
		
		&--min{
			left: 0;
		}
		
		&--max{
			left: 145px;
		}
	}
	
}

.price{
	
	&__label{
		margin: 0 20px 0 0;
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		text-transform: uppercase;
	}
	
	&__label:last-child{
		margin: 0;
	}
	
	&__input{
		padding: 10px;
		width: 80px;
		height: 38px;
		
		font-family: inherit;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		
		background-color: $light-grey;
		border: none;
		@include border-radius(5px);
	}
}

.radio{
	&__label{
		&:hover,
		&:focus{
			.radio__input__check::before{
			border-color: darken($light-grey, 35%);
			}
		}
		&:active{
			.radio__input__check::before{
				border-color: darken($light-grey, 10%);
			}
		}
	}
	
	&__input{
		display: none;
		
		&__check::before{
			content: "";
			position: absolute;
			left: 0;
			
			width: 25px;
			height: 25px;
			
			@include border-radius(50%);
			border: 4px solid darken($light-grey, 20%);
			
		}
		
		&:checked ~ &__check::after{
			content: "";
			position: absolute;
			left: 8px;
			top: 8px;
			
			width: 9px;
			height: 9px;
			
			@include border-radius(50%);
			background-color: darken($light-grey, 20%);
		
		}
		
		&:checked:hover~ &__check::after,
		&:checked:focus~ &__check::after{
			background-color: darken($light-grey, 35%);
		}
		
		&:checked:active~ &__check::after{
			background-color: $light-grey;
		}
	}
	
}

.checkbox{
	&__label{
		
		&:hover,
		&:focus{
			.checkbox__input__check{
				@include opacity(0.6);
			}
		}
		
		&:active{
			.checkbox__input__check{
				@include opacity(0.1);
			}
		}
		
	}
	
	&__input{
		display: none;
		
		&__check{
			position: absolute;
			top:0;
			left: 0;
			
			height: 25px;
			width: 28px;
			background: url(../img/checkbox-off.svg) no-repeat 0 0;
			@include opacity(0.3);
		}
		
		&:checked ~ &__check{
			background: url(../img/checkbox-on.svg) no-repeat 0 0;
			
		}
	}
}

.filter-catalog{
	@include flex-basis(760px);
}

