.header-menu{
  	@include display-flex;
	@include flex-direction(row);
	@include justify-content(flex-start);
  margin: 0;
  padding: 5px 0 0 0;
  list-style: none;
  &__item{
	  margin-right: 45px;
  }
  &__item::last-child{
	  margin-right: 0;
  }
  
  &__link{
	  padding: 5px 0 0 0;
	  
	  font-size: 16px;
	  font-weight: 500;
	  line-height: 30px;
	  text-transform: uppercase;
	  text-decoration: none;
	  color: #000;
  }
  &__link:hover,
  &__link:focus{
	  color: $red;
  }
  
  &__link:active{
	  color: $grey;
  }

  &__link--current{
	  border-bottom: 2px solid $red;
  }
  &__link--cart{
	  padding-left: 40px;
	  background: url(../img/icon-cart.svg) no-repeat 0 15px;
  }
  
}