.header{
	padding-bottom: 20px;
	padding-top: 50px;
	background-color: $light-grey;
}

.header-nav{
	@include display-flex;
	@include flex-direction(row);
	@include justify-content(space-between);
	@include align-items(center);
	padding-top: 5px;
}

.header-logo{
	&__img{
		position: relative;
		top: -5px;
	}
	
	&__link{
		margin: 0;
		padding: 0;
	
		&:hover,
		&:focus{
			@include filter(opacity(0.8));
		}
	
		&:active{
			@include filter(opacity(0.3));
	}
	}
}

.header-menu{
  	@include display-flex;
	@include flex-direction(row);
	@include justify-content(flex-start);
  margin: 0;
  padding: 0;
  list-style: none;
  &__item{
	  margin-right: 45px;
	  
	  &:last-child{
	  margin-right: 0;
	}
  }
  
  &__link{
	  padding: 10px 0;
	  
	  font-size: 16px;
	  font-weight: 500;
	  line-height: 30px;
	  text-transform: uppercase;
	  text-decoration: none;
	  color: #000;
	  
	  &:hover,
	  &:focus{
		color: $red;
	  }
	  
	  &:active{
		color: $grey;
	  }
	  
	  &--current{
		border-bottom: 2px solid $red;
	  }
	  
	  &--cart{
		padding-left: 40px;
		background: url(../img/icon-cart.svg) no-repeat 0 18px;
	  }
  }
}
