.modal{
	background-color: #ffffff;
	@include box-shadow(0 20px 40px rgba(0, 0, 0, 0.75));
	z-index: 200;
	padding: 65px 100px;
}

.modal-feedback{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	
	
	@include display-flex;
	@include flex-wrap(wrap);
	@include justify-content(flex-start);
	width: 80%;
	height: 590px;

	margin: auto;
	
	.feedback{
		&__title{
			@include flex-basis(100%);
			@include flex-shrink(0);
			margin: 0;
			padding: 0;
		}
	
	}
}

