.modal{
	position: relative;
	z-index: 200;
	
	display: none;
	padding: 65px 100px;
	
	background-color: #ffffff;
	@include box-shadow(0 20px 40px rgba(0, 0, 0, 0.75));

	&-show{
		@include display-flex;
	}
	
	
	&__close{
		position: absolute;
		z0index: 200;
		top: 80px;
		right: 90px;
		
		width: 22px;
		height: 22px;
		
		background-color: #fff;
		border: none;
		cursor: pointer;
		
		
		&::before, 
		&::after{
			content: "";
			
			position: absolute;
			top:0;
			left: 10px;
			
			width: 3px;
			height: 20px;
			background-color: lighten($red, 20%);
		}
		
		&::before{
			@include transform(rotate(45deg));
		}
		
		&::after{
			@include transform(rotate(-45deg));
		}
		
		&:hover::before,
		&:hover::after,
		&:focus::before,
		&:focus::after{
			background-color: $red;
		}
		
		&:active::before,
		&:active::after{
			background-color: lighten($red, 23%);
		}
	}
}

.modal-feedback{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	
	@include flex-wrap(wrap);
	@include justify-content(flex-start);
	width: 80%;
	max-width: 960px;
	min-width: 600px;
	height: 590px;

	margin: auto;
	
}

.feedback{
		&__title{
			@include flex-basis(100%);
			@include flex-shrink(0);
			margin: 0 0 30px 0;
			padding: 0;
			
			font-size: 45px;
			line-height: 45px;
			font-weight: 500;
		}
		
		&-form{
			height: 350px;
			width: 100%;
		}
		
		&-wrapper{
			@include display-flex;
			@include justify-content(space-between);
			margin: 0 0 35px 0;
			padding: 0;
		}
		
		&__label{
			@include flex-basis(100%);
			
			font-size: 16px;
			line-height: 18px;
			font-weight: 700;
			
			&--half{
				@include flex-basis(360px);
				margin-right: 40px;
			}
			
			&--half:last-child{
				margin-right: 0;
			}
		}
		
		&__input{
			display: block;
			margin: 10px auto;
			padding: 15px;
			width: 100%;
			
			font-family: inherit;
			font-size: 16px;
			line-height: 18px;
			
			border: 2px solid $grey;
			outline: none;

			&:hover{
				border-color: darken($grey, 10%);
			}
		
			&:focus{
				border-color: #000;
				
		}
		
			&:invalid{
				border-color: $red;
		}
	}

	}

