.projects-list{
	@include display-flex;
	@include justify-content(space-around);
	
	margin: 0 0 80px 0;
	padding: 45px 0;
	list-style: none;
	
	border-top: 2px solid $light-grey;
	border-bottom: 2px solid $light-grey;
	
	&__link{
		@include filter(opacity(0.2));
	}
	
	&__link:hover,
	&__link:focus,	{
	@include filter(opacity(1));
	}
	
	&__link:active{
	@include filter(opacity(0.1));
	}
}