.service{
  margin-top: 40px;
  margin-bottom: 80px;
  
  &-list{
	  @include display-flex;
	  @include flex-direction(row);
	  @include flex-wrap(wrap);
	  @include justify-content(flex-start);
	  
	  margin: 0;
	  padding: 0;
	  
	  list-style: none;
	  
  }
  
  &__item{
	  @include display-flex;
	  @include flex-direction(column);
	  @include flex-wrap(nowrap);
	  @include justify-content(flex-start);
	  @include flex-basis(300px);
	  margin-right: 100px;
  }
  
  &__item:last-child{
	  margin-right: 0;
  }
  
  &__img{
	  width: 100%;
	  height: auto;
	  
	  margin-bottom: 25px;
  }
  
  &__title{
	  margin: 0 0 25px 0;
	  padding: 0;
	  
	  font-size: 24px;
	  line-height: 30px;
	  font-weight: 700px;
	  text-transform: uppercase;
  }
  
  &__content{
	  margin: 0 0 25px 0;
	  padding: 0;
	  
	  font-size: 16px;
	  line-height: 24px;
	  font-weight: 400px;
  }

}