.slider{
  background-color: $light-grey;
  margin-bottom: 80px;
}

.input-slider{
	display: none;
}

.slider-toggle{
	position: absolute;
	bottom: 95px;
	left: 0;
	right:0;
	
	@include display-flex;
    @include flex-direction(row);
	@include justify-content(center);
	max-width: 300px;
	
	list-style: none;
	margin: 0 auto;
	padding: 0;
	
	font-size: 0;
	
	&__label {
		display: block;
		width: 18px;
		height: 18px;
		padding: 8px;
		
		background-color: #ffffff;
		
		@include border-radius(50%);
		cursor: pointer;
	}
	
	&__item{
	position: relative;
	margin-right: 18px;
	
		&:last-child{
			margin-right:0;
		}
	}
}

.slides{
	@include display-flex;
	
	list-style: none;
	margin: 0;
	padding: 0;
}

.slide{
	display: none;
	min-width: 100%;
	min-height: 405px;
	padding: 50px 0;

	
	
	background-repeat: no-repeat;
	
	
	&--1{
		background-image: url(../img/slide-1.png);
		background-position: 93% -5px;
	}
	
	&--2{
		background-image: url(../img/slide-2.png); 
		background-position: 100% 0;
	}
	
	&--3{
		background-image: url(../img/slide-3.png);
		background-position: 100% 0;		
	}
	
	&__title{
		margin: 0 0 30px 0;
		padding: 0;
		font-size: 55px;
		line-height: 55px;
		font-weight: 500;
		max-width: 540px;
	}
	
	&__content{
		margin: 0 0 40px 0;
		padding: 0;
		max-width: 410px;
		
		font-size: 16px;
		line-height: 24px;
	}
}

#slide-1:checked ~.slides .slide--1{
	display: block;
}

#slide-2:checked ~.slides .slide--2{
	display: block;
}

#slide-3:checked ~ .slides .slide--3{
	display: block;
}

#slide-1:checked ~ .slider-toggle .slider-toggle__label--1::before,
#slide-2:checked ~ .slider-toggle .slider-toggle__label--2::before,
#slide-3:checked ~ .slider-toggle .slider-toggle__label--3::before {
	content: "";
	
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 8px;
	height: 8px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	@include border-radius(50%);
}