.studio{
	@include flex-basis(660px);
	margin-right: auto;
	
	&__title{
		margin: 35px 0 30px 0;
		padding: 0;
		
		font-size: 45px;
		line-height: 45px;
		font-weight: 500;
		
		sup{
			position: relative;
			font-size: 24px;
		}
		
		&--small{
			margin: 0 0 10px 0;
			padding: 0;
			
			font-size: 16px;
		    line-height: 24px;
			font-weight: 700;
			text-transform: uppercase;
		}
		
		&--bold{
			margin: 30px 0 20px 0;
			
			font-weight: 700;
			
			font-size: 45px;
			line-height: 45px;
		}
		
		&--center{
			text-align: center;
		}
	}
	
	&__content{
		margin: 0 0 40px 0;
		padding: 0;
		
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		
	}
	
	&__caption{
		margin: 0 0 30px 0;
		paddong: 0;
		
		font-size: 16px;
		line-height: 18px;
		font-weight: 400;
	}
	
	&__list{
		margin: 0;
		padding: 0;
		
		list-style: none;
		font-size: 16px;
		line-height: 48px;
		font-weight: 400;
	}
	
	&__item{
		position: relative;
		
		padding-left: 35px;
		
	}
	
	&__item::before{
		content: "";
		
		position: absolute;
		top: 50%;
		left: 0;
		width: 25px;
		height: 2px;
		
		background-color: $red;
		
	}
}

.studio-facts{
  @include flex-basis(360px);
	
	
  }
.studio-logo{
	margin-bottom: 30px;
}

.studio-facts{
	
	&-list{
	@include display-flex;
	
	
	margin: 0;
	padding: 0;
	
	list-style: none;
	}
	
	&__item{
		margin-right: 25px;
	}
	
	&__item:last-child{
		margin-right: 0;
	}
}

