.studio{
	@include flex-basis(660px);
	
	&__title{
		margin: 0 0 20px 0;
		padding: 0;
		
		font-size: 45px;
		line-height: 45px;
		font-weight: 500;
		
		&--small{
			margin: 0 0 20px 0;
			padding: 0;
			
			font-size: 16px;
			line-height: 24px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	
	&__content{
		margin: 0 0 30px 0;
		paddong: 0;
		
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		
	}
	
	&__list{
		margin: 0;
		padding: 0;
		
		list-style: none;
		font-size: 16px;
		line-height: 48px;
		font-weight: 400;
	}
	
	&__item{
		position: relative;
		
		padding-left: 35px;
		
	}
	
	&__item::before{
		content: "";
		
		position: absolute;
		top: 50%;
		left: 0;
		width: 25px;
		height: 2px;
		
		background-color: $red;
		
	}
}