
@import "compass/css3";
@import "fonts";


$font: 'Roboto', Arial, sans-serif;

$light-grey: #eeeeee;
$grey: #d7d7d7;
$red: rgb(251, 86, 90);
$green: rgb(0, 202, 116);
$yellow: rgb(239, 200, 74);

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: $font;
	font-size: 16px;
	color: #000000;
	
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, $light-grey 0px, $light-grey 545px , #ffffff 545px)
}

*, ::before, ::after{
	box-sizing: inherit;
}

@import 
"visually-hidden",
"container",
"header",
"header-nav",
"header__logo",
"header-menu",
"slider",
"button",
"service",
"about-us",
"studio", 
"projects", 
"footer",
"contacts-block",
"social-list";







