
@import "compass/css3";

@import "fonts";


$font: 'Roboto', Arial, sans-serif;
$light-grey: #eeeeee;
$grey: #d7d7d7;
$red: #fb565a;
$green: #00ca74;
$yellow: #efc84a;

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: $font;
	line-height: 30px;
	color: #000000;
	
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, $light-grey 0px, $light-grey 545px , #ffffff 545px)
}

*, ::before, ::after{
	box-sizing: inherit;
}

@import "visually-hidden";
@import "container";
@import "header";
@import "header-nav";
@import "header__logo";
@import "header-menu";
@import "slider";
@import "button";
@import "service";








